{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
    {% for todo in todos %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ todo.name }}</h5>
                    <p class="card-text">{{ todo.description }}</p>
                    <a href="/todos/show/{{ todo.id }}" class="card-link">Details</a>
                    <a href="/todos/{{ todo.id }}/delete" class="card-link" style="color: red;">Delete</a>
                </div>
            </div>
        </div>
    {%  endfor %}
    </div>

{% endblock %}