{% extends 'base.html.twig' %}


{% block body %}
    {% if errors %}
        <div class="alert alert-danger">
            {{ errors.messageKey }}
        </div>
    {% endif %}
{#    <div class="col-md-6">#}
{#    {{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    {{ form_end(form) }}#}
{#    </div>#}
    <form action="/login" method="post">
        <input name="_username" type="text" />
        <input name="_password" type="password" />
        <input type="submit" name="submit"/>
    </form>
{% endblock %}